*{
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
=======
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
}

>>>>>>> 3fbb75938edef63830c251acab1d15f493194698
